<link rel="stylesheet" href="/styles/home.css" />
<br />
<main class="mainContainer">
  <h2 class="text-center mb-3"><span>Comienza a Aprender</span></h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% for (let i = 0; i < certifications.length; i++) { %>
        <% if (i % 3 === 0) { %>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
            <div class="row">
        <% } %>
            <div class="card col-4 p-0">
              <img src="<%= certifications[i].image %>" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><%= certifications[i].name %></h5>
                <p class="card-text">
                  Institution: <%= certifications[i].institution %>
                </p>
                <p class="card-text">
                  Expedition Date: <%= certifications[i].expedition_date %>
                </p>
                <% if (certifications[i].expiration_date) { %>
                  <p class="card-text">
                    Expiration Date: <%= certifications[i].expiration_date %>
                  </p>
                <% } %>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        <% if ((i + 1) % 3 === 0 || i === certifications.length - 1) { %>
            </div>
          </div>
        <% } %>
      <% } %>          
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>
