<% layout('layout/boilerplate') %> <%- include('../templates/navbar') %>
<link rel="stylesheet" href="/styles/details.css" />

<main class="mainContainer">
  <div class="centerContainer">
    <div class="certificationDetails">
      <div class="certificationImg">
        <img
          class="img-fluid certificationImage"
          src="<%= certification.image %>"
          alt="" />
      </div>
      <div class="certificationInfo">
        <div class="topInfo">
          <h1><%= certification.name %></h1>
          <small><%= certification.institution %></small>
        </div>
        <div class="midInfo">
          <p><%= certification.description %></p>
          <a href="#">Pagina Oficial</a>
        </div>
        <div class="botInfo">
          <p class="expeditionDate">
            <span class="bold">Expedition Date:</span> <%=
            certification.expedition_date %>
          </p>
          <% if (certification.expiration_date) { %>
          <p class="expirationDate">
            <span class="bold">Expiration Date:</span> <%=
            certification.expiration_date %>
          </p>
          <% } %>
        </div>
      </div>
      <div class="rating">
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="reviews[rating]"
            value="0"
            checked
            aria-label="No rating." />
          <input
            type="radio"
            id="first-rate1"
            name="reviews[rating]"
            value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="reviews[rating]"
            value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="reviews[rating]"
            value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="reviews[rating]"
            value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="reviews[rating]"
            value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
    </div>
    <div class="commentsContainer">
      <div class="commentTitle">
        <h2>Comentarios</h2>
      </div>
      <div class="commentdiv">
        <p class="cTitle">Comentario 1</p>
        <p class="cBody">Muy recomendado!</p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 2</p>
        <p class="cBody">Me gust贸 mucho </p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 3</p>
        <p class="cBody">Muy buen curso</p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 4</p>
        <p class="cBody">Gracias a este curso he conseguido muchas ofertas</p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 5</p>
        <p class="cBody">Este curso cambi贸 mi vida, 隆la recomiendo!</p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 6</p>
        <p class="cBody">El curso fue asombroso, una experiencia inolvidable</p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 7</p>
        <p class="cBody">
          Este producto super贸 mis expectativas. 隆Impresionante!
        </p>
      </div>
      <hr />
      <div class="commentdiv">
        <p class="cTitle">Comentario 8</p>
        <p class="cBody">
          Recomendar铆a este curso a todos mis amigos. Grandes descuentos y
          selecci贸n.
        </p>
      </div>
      <hr />
    </div>
  </div>
</main>
