<% layout('layout/boilerplate') %> <%- include('../templates/navbar') %>
<link rel="stylesheet" href="/styles/details.css" />

<main class="mainContainer">
  <div class="centerContainer">
    <div class="certificationDetails">
      <div class="certificationImg">
        <img
          class="img-fluid certificationImage"
          src="<%= certification.image %>"
          alt="" />
      </div>
      <div class="certificationInfo">
        <div class="topInfo">
          <h1><%= certification.name %></h1>
          <small><%= certification.institution %></small>
        </div>
        <div class="midInfo">
          <p><%= certification.description %></p>
          <a href='<%= certification.coursepage %>'>Pagina Oficial</a>
        </div>
        <div class="botInfo">
          <p class="expeditionDate">
            <span class="bold">Expedition Date:</span> <%=
            certification.expedition_date %>
          </p>
          <% if (certification.expiration_date) { %>
          <p class="expirationDate">
            <span class="bold">Expiration Date:</span> <%=
            certification.expiration_date %>
          </p>
          <% } %>
        </div>
      </div>
      <div class="rating">
        <form action="" method="post">
          <div class="reviewRating">
            <fieldset class="starability-basic">
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="reviews[rating]"
                value="0"
                checked
                aria-label="No rating." />
              <input
                type="radio"
                id="first-rate1"
                name="reviews[rating]"
                value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="reviews[rating]"
                value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="reviews[rating]"
                value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="reviews[rating]"
                value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="reviews[rating]"
                value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <button class="btn btn-success">Save review</button>
          </div>
          <div class="reviwesBody">
            <textarea
              name="reviews[body]"
              id="bReview"
              placeholder="Express yourself!!"
              class="form-control"
              cols="30"
              rows="3"
              required></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="commentsContainer">
      <div class="commentTitle">
        <h2>Comentarios</h2>
      </div>
      <% for (let review of reviews) {%>
      <div class="commentdiv">
              <div class="reviewRatingComment">
                <fieldset class="starability-basic">
                  <p class="starability-result" data-rating="<%= review.rating %>">
                  </p>
                </fieldset>
              </div>
        <p class="cBody"><%= review.comment %></p>
      </div>
      <hr />
      <% } %>
    </div>
  </div>
</main>
