<% layout('layout/boilerplate') %> <%- include('../templates/navbar') %>
<link rel="stylesheet" href="/styles/show.css" />
<script
  src="https://kit.fontawesome.com/d1023b5858.js"
  crossorigin="anonymous"></script>

<main class="mainContainer">
  <section class="leftContainer">
    <h1 class="title text-center mb-3">Filtra nuestros cursos!</h1>
    <div class="filtersContainer">
      <a href="#" class="mainAnchor">Precio</a>
      <div class="Aoptions d-none">
        <a href="/certifications?filtro=>">Altos a bajos</a>
        <a href="/certifications?filtro=<">Bajos a altos</a>
      </div>
      <a href="#" class="mainAnchor">Duración</a>
      <div class="Aoptions d-none">
        <a href="/certifications?filtro=>10">De 10 a 30 horas</a>
        <a href="/certifications?filtro=>30">De 30 a 50 horas</a>
        <a href="/certifications?filtro=>50">Mas de 50 horas</a>
      </div>
      <a href="#" class="mainAnchor">Area</a> 
      <div class="Aoptions d-none">
        <a href="/certifications?filtro=Tecnologia">Tecnologia</a>
        <a href="/certifications?filtro=Mercadeo">Mercadeo</a>
        <a href="/certifications?filtro=Emprendimiento">Emprendimiento</a>
      </div>
      <a href="#" class="mainAnchor">Empleabilidad</a>
      <div class="Aoptions d-none"></div>
      <a href="#" class="mainAnchor">Institución</a>
      <div class="Aoptions d-none">
        <a href="/certifications?filtro=Udemy">Udemy</a>
        <a href="/certifications?filtro=Platzi">Platzi</a>
        <a href="/certifications?filtro=EAFIT">EAFIT</a>
      </div>
    </div>
  </section>

  <section class="certificationContainer">
    <form action="" class="serachBar">
      <input
        class="searchInput"
        placeholder="Buscar cursos"
        type="text"
        name="q" />
      <button type="submit" class="btn form-control btn-primary">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <div class="certifications">
      <% for (let certification of certifications) {%>
      <a href="/certifications/<%= certification.id %>">
        <div class="certification">
          <div class="info">
            <div class="imgContainer">
              <img
                class="img-fluid certificationImage"
                src="<%= certification.image %>"
                alt="" />
            </div>
            <div class="infoContainer">
              <h4><%= certification.name %></h4>
              <p><%= certification.description %></p>
              <p>Precio: <%=certification.price%>$</p>
              <p>Duracion: <%= certification.duration %> horas</p>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </section>
</main>

<script src="/scripts/filters.js"></script>